---
locale: en_US.UTF-8
timezone: Etc/UTC

ssh_port: 2341

ssh_users:
  - kris

fail2ban_whitelist: ip/dns

ssl:
  certs:
    - ci.rang.ee

mediawiki:
  secret: sec
  upgrade: sec
  name: name
  host: hostname
  email: email

jenkins:
  host: hostname
  user: user
  password: pass

nr_key: key