---
locale: en_US.UTF-8
timezone: Etc/UTC

ssh_users:
  - kris

postgresql:
  ip: host ip
  users:
    - user
  hosts:
    - client host ip

fail2ban_email: email for alerts

ssl:
  wildcard_domain: domain

logentries_key: key

mediawiki:
  login: kris
  pass: pass
  secret: sec
  upgrade: sec
  name: bla
  host: dns
  email: email
  dbname: mediawiki
  dbuser: mediawiki
  dbip: localhost

jenkins:
  password: pass
  user: user
  host: domain

vpn:
  country: ee
  province: Harju
  city: Tallinn
  org: org
  email: email
  ou: unit
  cn: common name
  name: common name

gome:
  host: site.ee