---
locale: en_US.UTF-8
timezone: Etc/UTC

ssh_users:
  - kris

fail2ban_whitelist: ip/dns

ssl:
  wildcard_domain: name

log_token: key

mediawiki:
  secret: sec
  upgrade: sec
  name: name
  host: hostname
  email: email

jenkins:
  host: hostname
  user: user
  password: pass

gome:
  host: host