address=/dist.blizzard.com.edgesuite.net/{{ lancache_ip }}
address=/llnw.blizzard.com/{{ lancache_ip }}
address=/dist.blizzard.com/{{ lancache_ip }}
address=/blizzard.vo.llnwd.net/{{ lancache_ip }}
address=/blzddist1-a.akamaihd.net/{{ lancache_ip }}
address=/blzddist2-a.akamaihd.net/{{ lancache_ip }}
address=/cdn.zaonce.net/{{ lancache_ip }}
address=/origin-a.akamaihd.net/{{ lancache_ip }}
address=/akamai.cdn.ea.com/{{ lancache_ip }}
address=/lvlt.cdn.ea.com/{{ lancache_ip }}
address=/l3cdn.riotgames.com/{{ lancache_ip }}
address=/worldwide.l3cdn.riotgames.com/{{ lancache_ip }}
address=/cs.steampowered.com/{{ lancache_ip }}
address=/steamcontent.com/{{ lancache_ip }}
address=/content1.steampowered.com/{{ lancache_ip }}
address=/content2.steampowered.com/{{ lancache_ip }}
address=/content3.steampowered.com/{{ lancache_ip }}
address=/content4.steampowered.com/{{ lancache_ip }}
address=/content5.steampowered.com/{{ lancache_ip }}
address=/content6.steampowered.com/{{ lancache_ip }}
address=/content7.steampowered.com/{{ lancache_ip }}
address=/content8.steampowered.com/{{ lancache_ip }}
address=/cdn.ubi.com/{{ lancache_ip }}
