# {{ ansible_managed }}

server {
  listen [::]:80;
  listen 80;

  server_name {{ bookstack_domain }};
  rewrite ^ https://$server_name$request_uri? permanent;

  include snippets/le.conf;
}

server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  ssl on;

  ssl_certificate {{ simp_le_root }}{{ bookstack_domain }}/fullchain.pem;
  ssl_certificate_key {{ simp_le_root }}{{ bookstack_domain }}/key.pem;

  server_name {{ bookstack_domain }};

  root {{ bookstack_root }}/public/;
  index index.html index.htm index.php;

  error_log   /var/log/nginx/{{ bookstack_domain }}-error.log;
  access_log  /var/log/nginx/{{ bookstack_domain }}-access.log;

  proxy_set_header Host $host;
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header X-Forwarded-Proto https;
  proxy_redirect     off;
  proxy_http_version 1.1;
  proxy_set_header Connection "";
  proxy_cache_bypass $cookie_session;
  proxy_no_cache $cookie_session;
  proxy_buffers 32 4k;

  location / {
    try_files $uri $uri/ /index.php?$query_string =404;
  }

  location ~ \.php$ {
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    # NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini

    fastcgi_pass unix:/var/run/php/php7.0-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param PATH /usr/local/bin:/usr/bin:/bin;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }

  include snippets/le.conf;
}
