# {{ ansible_managed }}
# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto em1
iface em1 inet dhcp

iface em1 inet6 static
    address {{ipv6ip}}
    netmask 56