# {{ ansible_managed }}
# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
auto {{ ansible_default_ipv4.alias }}
iface {{ ansible_default_ipv4.alias }} inet dhcp

iface {{ ansible_default_ipv4.alias }} inet6 static
    address {{ipv6ip}}
    netmask 56
