# {{ ansible_managed }}

[DEFAULT]
ignoreip  = 127.0.0.1 192.168.1.0 {{ fail2ban_whitelist }} {% for ip in ansible_all_ipv4_addresses %}{{ip}} {% endfor %} {% for ip in ansible_all_ipv6_addresses %}{{ip}} {% endfor %}
bantime   = 86400
destemail = fail2ban@blocklist.de
sendermail = {{ 'mail@' + ansible_fqdn }}
banaction = iptables-multiport
action    = %(action_mwl)s

# JAILS
[ssh]
enabled   = true
maxretry  = 3
port      = {{ssh_port}}

[pam-generic]
enabled   = true
banaction = iptables-allports

[ssh-ddos]
enabled   = true

[postfix]
enabled  = true
maxretry = 1
