[Unit]
Description=motionEye Server

[Service]
User={{ motion_user }}
Group=media
ExecStart=/usr/local/bin/meyectl startserver -c /etc/motioneye/motioneye.conf
Restart=on-abort

[Install]
WantedBy=multi-user.target
