input {
  redis {
    port => 6378
    key => "filebeat"
    data_type => list
  }
  redis {
    port => 6378
    key => "metricbeat"
    data_type => list
  }
  beats {
    port => {{ logs_logstash_port }}
  }
  gelf {
    port => {{ logs_logstash_gelf_port }}
    type => "gelf"
    add_field => { "log_type" => "docker" }
    add_field => { "log_index" => "docker" }
  }
}
