output {
  # stdout {
  #   codec => "rubydebug"
  # }
  if [log_type] == "docker" {
    elasticsearch {
      hosts => ["localhost:{{ logs_es_port }}"]
      sniffing => false
      manage_template => false
      index => "%{log_index}-%{+YYYY.MM}"
      document_type => "%{log_index}"
    }
  } else if [log_type] == "rails" {
    elasticsearch {
      hosts => ["localhost:{{ logs_es_port }}"]
      sniffing => false
      manage_template => false
      index => "%{log_index}-%{+YYYY.MM}"
      document_id => "rails-%{uuid}"
      document_type => "rails"
    }
  } else if [log_type] == "railsconsole" {
    elasticsearch {
      hosts => ["localhost:{{ logs_es_port }}"]
      sniffing => false
      manage_template => false
      index => "%{log_index}-%{+YYYY.MM}"
      # document_id => "railsconsole-%{uuid}"
      document_type => "railsconsole"
    }
  } else if "filebeat" in [tags] {
    elasticsearch {
      hosts => ["localhost:{{ logs_es_port }}"]
      sniffing => false
      manage_template => false
      index => "filebeat-%{+YYYY.MM}"
    }
  } else if "metricbeat" in [tags] {
    elasticsearch {
      hosts => ["localhost:{{ logs_es_port }}"]
      sniffing => false
      manage_template => false
      index => "metricbeat-%{+YYYY.MM}"
    }
  }
}
