user {{ nginx_user }} {{ nginx_user }};
worker_processes  {{ ansible_processor_cores }};

error_log  {{ nginx_log_dir }}/error.log;
pid        {{ nginx_pid }};

events {
  worker_connections  {{ nginx_worker_connections }};
{% if nginx_multi_accept %}
  multi_accept on;
{% endif %}

{% if nginx_event %}
  use {{ nginx_event }};
{% endif %}
}

http {
  include       {{ nginx_dir }}/mime.types;
  default_type  application/octet-stream;

  {% if nginx_enable_access_log %}
  access_log  {{ nginx_log_dir }}/access.log;
  {% endif %}

  sendfile {{ nginx_sendfile }};
  tcp_nopush on;
  tcp_nodelay on;

  {% if nginx_keepalive_timeout %}
  keepalive_timeout {{ nginx_keepalive_timeout }};
  {% endif %}

  gzip {{ nginx_gzip }};
  {% if nginx_gzip %}
  gzip_http_version {{ nginx_gzip_http_version }};
  gzip_comp_level {{ nginx_gzip_comp_level }};
  gzip_proxied {{ nginx_gzip_proxied }};
  gzip_vary {{ nginx_gzip_vary }};
  {% if nginx_gzip_buffers %}
  gzip_buffers {{ nginx_gzip_buffers }};
  {% endif %}
  gzip_types {{ nginx_gzip_types|join(' ') }};
  gzip_min_length  1000;
  gzip_disable     "msie6";
  {% endif %}

  server_names_hash_bucket_size {{ nginx_server_names_hash_bucket_size }};
  types_hash_max_size {{ nginx_types_hash_max_size }};
  types_hash_bucket_size {{ nginx_types_hash_bucket_size }};
  {% if nginx_proxy_read_timeout %}
  proxy_read_timeout {{ nginx_proxy_read_timeout }};
  {% endif %}
  {% if nginx_client_max_body_size %}
  client_max_body_size {{ nginx_client_max_body_size }};
  {% endif %}

  {% if nginx_naxsi %}
  include /etc/nginx/naxsi_core.rules;
  {% endif %}

  include {{ nginx_dir }}/conf.d/*.conf;
  include {{ nginx_dir }}/sites-enabled/*;
}