{
  "Port": {{ jackett_port }},
  "AllowExternal": true,
  "APIKey": "{{ jackett_api_key }}",
  "AdminPassword": "{{ jackett_password }}",
  "InstanceId": "w8tdqdz12vdb564m8hain4naa5zt4tsuwdvnfhopoluyeumo3d9zf1iur4e7l8lj",
  "BlackholeDir": "",
  "UpdateDisabled": true,
  "UpdatePrerelease": false,
  "BasePathOverride": ""
}
