[Unit]
Description=jackett
After=network-online.target

[Service]
Environment=DIR={{ jackett_install_dir }}
Environment=LC_ALL=en_US.UTF-8
Environment=LANG=en_US.UTF-8
ExecStart=/usr/bin/mono {{ jackett_install_dir }}/JackettConsole.exe
Type=simple
User={{ jackett_user }}
Group={{ jackett_user }}
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target
