# {{ ansible_managed }}

env DIR={{ jackett_install_dir }}
setuid {{ jackett_user }}
setgid {{ jackett_user }}

start on runlevel [2345]

stop on runlevel [016]

#respawn

exec mono $DIR/JackettConsole.exe
