[Unit]
Description=hawk
After=network.target

[Service]
Environment=PORT={{ deploy_hawk_port }}
Environment=SECRET_KEY_BASE={{ deploy_hawk_secret }}
Environment=RAILS_ENV=production
WorkingDirectory=/home/deploy/apps/hawk
ExecStart=/bin/bash -lc 'forego start'
Type=simple
User=deploy
Group=deploy
Restart=on-failure
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
