# {{ ansible_managed }}
# nginx wiki application vhost

server {
  listen 80;
  server_name {{ wiki_host }};
  rewrite        ^ https://$server_name$request_uri? permanent;
}

server {
  listen 443 ssl;
  ssl on;

  server_name {{ wiki_host }};
  root /usr/share/nginx/{{ wiki_host }}/w;
  index index.html index.htm index.php;

  location / {
    try_files $uri $uri/ @rewrite;
  }

  location @rewrite {
    rewrite ^/(.*)$ /index.php?title=$1&$args;
  }

  location ^~ /maintenance/ {
    return 403;
  }

  location ~ \.php$ {
    include fastcgi_params;
    fastcgi_pass unix:/var/run/php5-fpm-mediawiki.sock;
  }

  location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
    try_files $uri /index.php;
    expires max;
    log_not_found off;
  }

  location = /_.gif {
    expires max;
    empty_gif;
  }

  location ^~ /cache/ {
    deny all;
  }

  location /dumps {
    root /var/www/mediawiki/local;
    autoindex on;
  }

  error_log   /var/log/nginx/{{ wiki_host }}-error.log;
  access_log  /var/log/nginx/{{ wiki_host }}-access.log;
}