{"file":1,"format":1}{
  "hosts": [
    [
      "7a2d98830bf8892a246a4d4d366160e918326980",
      "127.0.0.1",
      {{ deluge_daemon_port }},
      "{{ deluge_remote_user }}",
      "{{ deluge_remote_password }}"
    ]
  ]
}
