user = {{ mail_mysql_username }}
password = {{ lookup('password', 'secrets/' + ansible_fqdn + '/mail_db_password encrypt=sha256_crypt') }}
hosts = 127.0.0.1
dbname = {{ mail_mysql_database }}
query = SELECT 1 FROM virtual_domains WHERE name='%s'