# {{ ansible_managed }}
# plexpy
#
# This is a session/user job. Install this file into /usr/share/upstart/sessions
# if plexpy is installed system wide, and into $XDG_CONFIG_HOME/upstart if
# plexpy is installed per user. Change the executable path appropiately.

start on runlevel [2345]
stop on runlevel [016]

env DIR={{ plexpy_install_dir }}
setuid {{ plexpy_user }}
setgid {{ plexpy_user }}
env CONFIG="{{ plexpy_data_dir }}"
env DATA="{{ plexpy_data_dir}}"

exec python $DIR/PlexPy.py --nolaunch --config "$CONFIG"/config.ini --datadir "$DATA"
